// Variables and mixin

$color_bg: #ECF2F6;
$color_bg2: #D8E1E8;

$color_border: #D6E0E7;

$color_1: #16171B;
$color_2: #5956E9;
$color_3: #27272E;
$color_4: rgb(77, 77, 77);
$color_5: #FAB8C4;
$color_6: #ABABAB;
$color_7: #778F9D;


@mixin gradient-text {
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(135deg, #A169F7, #00AAFF, #FF6163, #97CF26);
}

/* Fonts */

@font-face {
    font-family: Futura_PT;
    src: url(/fonts/FuturaPT-Book.ttf);
}

@font-face {
    font-family: Futura_PT__Thin;
    src: url(/fonts/FuturaPT-Light\ \(1\).ttf);
}

@font-face {
    font-family: Futura_PT__Medium;
    src: url(/fonts/FuturaPT-Medium.ttf);
}

@font-face {
    font-family: Futura_PT_Demi;
    src: url(/fonts/FuturaPT-Demi.ttf);
}

/* Standard */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    background-color: $color_bg;
}

.container {
    width: 1170px;
}

/* Header/Intro */

.intro {
    max-width: 100%;
    height: 1000px;
    background-image: url(/img/intro/bg.png);
    background-image: 1188px 1075px;
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    margin-top: 43px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.telegram {
    width: 55px;
    height: 55px;
}

.intro__text {
    font-size: 40px;
    font-family: Futura_PT__Thin;
    color: $color_1;
    line-height: 35px;
    text-align: center;
    margin-bottom: 57px;
    .bold {
        color: #000;
        font-family: Futura_PT__Medium;
        font-size: 30px;
    }
}

.intro__text-block {
    width: 693px;
    height: 500px;
    display: flex;
    flex-direction: column;
    .intro__undertitle {
        font-size: 30px;
        font-family: Futura_PT;
        color: $color_1;
    }
    .intro__title {
        font-size: 75px;
        font-family: Futura_PT;
        color: $color_1;
        line-height: 80px;
        margin-bottom: 32px;
        .gradient {
            @include gradient-text;
        }
    }
    .subtitle {
        font-size: 28px;
        font-family: Futura_PT;
        color: $color_1;
        margin-bottom: 60px;
    }
    .sign-up {
        font-size: 24px;
        font-family: Futura_PT;
        color: #fff;
        text-decoration: none;
        width: 242px;
        height: 73px;
        background-color: $color_2;
        border-radius: 21px;
        box-shadow: 0px 12px 48px $color_2;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            opacity: 0.9;
            box-shadow: 4px 14px 40px $color_2;
            transition: all 0.3s;
        }
    }
}

.line {
    width: 1206.66px;
    height: 296.38px;
    position: absolute;
    left: 0;
    top: 622px;
}

/* Advantage */

.advantage {
    width: 100%;
    height: 2703px;
    display: flex;
    justify-content: center;
    .container {
        z-index: 10;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.line2 {
    position: absolute;
    top: 1180px;
    left: auto;
    right: auto;
}

.test {
    display: block;
    position: relative;
    top: -390px;
    margin-left: auto;
    margin-right: auto;
    width: 737px;
    height: 234px;
    &:hover {
        opacity: .95;
        transition: all .3s;
    }
}

.title {
    font-size: 72px;
    font-family: Futura_PT_Demi;
    color: $color_3;
    position: relative;
    top: -300px;
    text-align: center;
}

.sect {
    width: 939px;
    position: relative;
    top: -250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block2 {
    margin-top: 111px;
}
.block3 {
    position: relative;
    top: -115px;
}
.block4 {
    position: relative;
    top: 180px;
}
.block5 {
    position: relative;
    top: 370px;
}

.sect__text-block {
    width: 500px;
    .sect__title {
        font-size: 64px;
        font-family: Futura_PT__Medium;
        color: $color_1;
        margin-bottom: 15px;
    }
    .sect__subtitle {
        font-size: 32px;
        font-family: Futura_PT__Thin;
        color: $color_4;
        margin-bottom: 28px;
    }
    .sect__text {
        font-size: 24px;
        font-family: Futura_PT;
        color: $color_1;
        .bold {
            font-family: Futura_PT_Demi;
        }
    }
}

.circle1 {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 1866px;
    left: 1458px;
}
.circle2 {
    width: 192px;
    height: 192px;
    position: absolute;
    top: 2474px;
    left: 67px;
}
.circle4 {
    width: 107px;
    height: 107px;
    position: absolute;
    top: 3373px;
    left: 599px;
}
.circle3 {
    width: 228px;
    height: 228px;
    position: absolute;
    top: 3567px;
    left: 1608px;
}

/* Price */

.price {
    width: 1622px;
    height: 806px;
    position: relative;
    top: 173px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 144px;
    background-color: $color_bg2;
    background-image: url(/img/price/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    .title {
        font-size: 72px;
        font-family: Futura_PT_Demi;
        color: $color_3;
        position: relative;
        top: 67px;
        text-align: center
    }
    .carts {
        width: 1170px;
        height: 309px;
        position: relative;
        top: 100px;
        display: flex;
        justify-content: space-between;
        .price__cart {
            width: 371.86px;
            height: 100%;
            background-color: $color_3;
            border-radius: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .title {
                font-size: 64px;
                font-family: Futura_PT;
                color: $color_5;
                margin-top: -200px;
            }
            .subtitle {
                font-size: 36px;
                font-family: Futura_PT;
                color: #fff;
                position: relative;
                top: 60px;
            }
            .text {
                font-size: 20px;
                font-family: Futura_PT__Thin;
                color: $color_6;
                position: relative;
                top: 100px;
                text-align: center;
            }
            &:hover {
                background-color: $color_2;
                transition: all .3s;
                .title {
                    color: #fff;
                }
                .text {
                    color: #fff;
                }
            }
        }
    }
}
.price__cons {
    font-size: 48px;
    font-family: Futura_PT__Medium;
    color: $color_3;
    position: relative;
    top: 150px;
    width: 100%;
    text-align: center;
}

.price__number {
    font-size: 48px;
    font-family: Futura_PT__Medium;
    color: $color_2;
    position: relative;
    top: 170px;
    width: 100%;
    text-align: center;
}

/* Sign up */

.sign-up_sect {
    width: 100%;
    height: 966px;
    background-image: url(/img/sign\ up/bg.png);
    background-size: 966px 966px;
    background-repeat: no-repeat;
    background-position: bottom left;
    position: relative;
    top: 600px;
    display: flex;
    justify-content: center;
    .undertitle {
        font-size: 40px;
        font-family: Futura_PT__Thin;
        color: $color_3;
        position: relative;
        top: -300px;
        text-align: center;
    }
    .title {
        font-size: 64px;
        font-family: Futura_PT__Medium;
        color: $color_1;
        text-align: center;
    }
}

.block {
    width: 100%;
    position: relative;
    top: -230px;
    display: flex;
    justify-content: space-around;
    .sign-up_block {
        width: 519px;
        height: 583px;
        background-color: #fff;
        border-radius: 27px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .title {
            font-size: 48px;
            font-family: Futura_PT;
            color: $color_1;
            position: relative;
            top: -60px;
        }
        .sign-up__title {
            font-size: 24px;
            font-family: Futura_PT;
            color: $color_1;
            position: relative;
            top: -60px;
            margin-top: 20px;
            left: 50px;


        }
        .input {
            width: 419px;
            height: 60px;
            font-family: Futura_PT__Thin;
            font-size: 20px;
            color: $color_7;
            padding-left: 24px;
            border: 2px solid $color_border;
            border-radius: 15px;
            position: relative;
            top: -60px;
            left: 50px;
        }
    }
}
.checkbox {
    display: none;
}
.checkbox_label {
    font-size: 16px;
    font-family: Futura_PT__Thin;
    color: $color_1;
    width: 255px;
    margin-left: 50px;
    margin-right: 17px;
    position: relative;
    top: -10px;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    &:before {
        content: "";
        flex:  0 0 24px;
        height: 24px;
        background-color: #fff;
        border: 2px solid $color_border;
        border-radius: 7px;
    }
    &:after {
        transition: transform .3s;
        content: "";
        width: 18px;
        height: 18px;
        position: absolute;
        top: 4px;
        left: 4px;
        background-color: $color_2;
        border-radius: 7px;
        transform: scale(0);
    }
}
.checkbox:checked + .checkbox_label::after {
    transform: scale(1);
}

.sign-in__button {
    font-size: 24px;
    font-family: Futura_PT__Medium;
    color: #fff;
    background-color: $color_2;
    border-radius: 21px;
    border: none;
    width: 421px;
    height: 65px;
    margin-left: 50px;
    position: relative;
    top: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        opacity: 0.95;
        transition: all .3s;
    }
}

.important {
    width: 400px;
    height: 290px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .warning {
        width: 145px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 17px;

    }
    .warning__text {
        font-size: 30px;
        font-family: Futura_PT;
        color: $color_1;
        text-align: center;
        z-index: 10;
    }
}

.man {
    position: absolute;
    bottom: 0px;
    right: 0;
}

.footer__logo {
    width: 308px;
    height: 78px;
    position: absolute;
    top: 85%;
    left: 22%;
}
.footer__text {
    font-size: 16px;
    font-family: Futura_PT__Thin;
    color: $color_1;
    position: absolute;
    top: 95%;
    left: 16%;
}